---
import Layout from '@v1/layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import Footer from '@components/Footer.astro';
import GlobalSection from '@components/GlobalSection.astro';
import Article from '@components/handbook/Article.astro';

import { getCollectionEntry } from '@utils/collectionUtils';

const page = await getCollectionEntry('handbooks', 'index');

// SEO
const fm = page.data;
const meta = fm.meta || {};
const title = fm.title ? fm.title : 'The Datum Handbook';
const description = fm.description;
---

<Layout title={title} description={description} bodyClass="handbook-page" meta={meta}>
  <section class="datum-container">
    <Hero class="light" iconName="book-text" title={fm.title} subtitle={fm.subtitle} />
    <Article articleId="company/why-we-exist" />
    <GlobalSection />
    <Footer />
  </section>
</Layout>
