---
// src/pages/about/index.astro
export const prerender = false;

import '@v1/styles/page-about.css';
import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import Footer from '@components/Footer.astro';
import OurMission from '@components/about/OurMission.astro';
import Companies from '@components/about/Companies.astro';
import Investors from '@components/about/Investors.astro';
import PeopleStrapi from '@components/about/PeopleStrapi.astro';
import PeopleStrapiSkeleton from '@components/about/PeopleStrapiSkeleton.astro';
import { getCollectionEntry } from '@utils/collectionUtils';
import { getEntries } from 'astro:content';

const page = await getCollectionEntry('about', 'index');
const fm = page.data;
const contents = fm.contents;
const contentData = await getEntries(contents);

// SEO
const meta = fm.meta || {};
const title = fm.title ? fm.title : 'About Datum';
const description = fm.description ? fm.description : '';
---

<Layout title={title} description={description} bodyClass="page-about" meta={meta}>
  <section class="datum-container">
    <Hero class="light bg-white" />

    <OurMission content={contentData[0]} />

    <Companies content={contentData[1]} />

    <PeopleStrapi server:defer>
      <PeopleStrapiSkeleton slot="fallback" />
    </PeopleStrapi>

    <Investors content={contentData[2]} />

    <Footer />
  </section>
</Layout>
