---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import Footer from '@components/Footer.astro';
import FirstSection from '@components/about/OurPurpose.astro';
import SecondSection from '@components/about/Team.astro';
import ThirdSection from '@components/about/WeValue.astro';

import { getCollectionEntry } from '@utils/collectionUtils';
import { getEntries } from 'astro:content';

const page = await getCollectionEntry('about', 'index');
const fm = page.data;
const contents = fm.contents;
const contentData = await getEntries(contents);

// SEO
const meta = fm.meta || {};
const title = fm.title ? fm.title : 'About Datum';
const description = fm.description ? fm.description : '';
---

<Layout title={title} description={description} bodyClass="about-page" meta={meta}>
  <section class="datum-container">
    <Hero class="light" title={fm.title} subtitle="About" />
    <FirstSection content={contentData[0]} />
    <SecondSection content={contentData[1]} />
    <ThirdSection content={contentData[2]} />
    <Footer />
  </section>
</Layout>
