---
// src/pages/downloads/[slug].astro
export const prerender = false;

import '@v1/styles/page-download.css';
import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import Footer from '@components/Footer.astro';
import Download from '@components/download/Download.astro';
import Icon from '@components/Icon.astro';
import { getEntry, render } from 'astro:content';
import { getCollectionEntry } from '@utils/collectionUtils';

const page = await getCollectionEntry('pages', 'download');

const slug = Astro.params.slug;
if (!slug) {
  return Astro.redirect('/downloads/');
}

const entry = await getEntry('download', slug);
if (!entry || entry.data.draft) {
  return Astro.redirect('/404');
}

const { Content } = await render(entry);

const pageFm = page.data;

// SEO
const fm = entry.data;
const meta = fm.meta || {};
const title =
  `${pageFm.title || ''}${pageFm.title && fm.title ? ' | ' : ''}${fm.title || ''}`.trim() ||
  'Download';
const description = fm.description || 'Download Datum';
---

<Layout title={title} description={description} bodyClass="page-download" meta={meta}>
  <section class="datum-container">
    <Hero
      class="light pb-0"
      title={pageFm.title}
      description={pageFm.description}
      bodyClass={`page-brand page-brand--${page.id}`}
      meta={meta}
    />

    <div class="section--block section--block--pad bg-glacier-mist-700 pt-0 pb-0">
      <div class="max-width">
        <Download activeId={entry.data.slug}>
          <div class="download-content-frame">
            <div class="download-content-header">
              <div class="download-content-title">
                <div>
                  {fm.icon && <Icon name={fm.icon} size="xl" class="download-content-title-icon" />}
                </div>
                <h1 class="download-content-title-text">{fm.title}</h1>
              </div>
            </div>

            <div class="download-section">
              <Content />
            </div>
          </div>
        </Download>
      </div>
    </div>
    <Footer />
  </section>
</Layout>
