---
// src/v1/components/blog/BlogItem.astro
import { Image } from 'astro:assets';
import { formatISODate } from '@utils/dateUtils';
import { getCollectionEntry } from '@utils/collectionUtils';

const { post, authorData } = Astro.props;

// Get category data for the first category
let categoryData = null;
if (post.data.categories?.[0]) {
  categoryData = await getCollectionEntry('categories', post.data.categories[0]);
}
---

<article class="blog-item">
  <h2 class="blog-item--title">
    <a href={`/blog/${post.id}`}>{post.data.title}</a>
  </h2>

  <div class="blog-item--meta">
    <div class="blog-item--category">
      {categoryData && <span class="blog-item--tag">{categoryData.data.name}</span>}
    </div>

    <div class="blog-item--author">
      {
        authorData && (
          <div class="blog-item--avatar">
            {authorData.data.avatar ? (
              <Image
                src={authorData.data.avatar}
                alt={authorData.data.name}
                class="blog-item--avatar-img"
                width={36}
                height={36}
              />
            ) : (
              <div class="blog-item--avatar-placeholder">
                {authorData.data.name.charAt(0).toUpperCase()}
              </div>
            )}
          </div>
        )
      }
    </div>

    <div class="blog-item--date">
      <time datetime={formatISODate(post.data.date)}>
        {
          new Date(post.data.date).toLocaleDateString('en-US', {
            day: 'numeric',
            month: 'short',
            year: 'numeric',
          })
        }
      </time>
    </div>
  </div>
</article>
