---
import type { ContentProps } from '@/src/types/common';
import Button from '@/src/components/Button.astro';
import { Image } from 'astro:assets';
import Illustration from '@content/about/images/rock.png';

const { content } = Astro.props as ContentProps;
const items = content.data.items || [];
const link = content.data.link;
---

<section id="we-value" class="bg-glacier-mist-800 section--block section--block--pad relative">
  <div
    class="max-width fade-in--pure relative z-10 text-center"
    data-reveal="fade-in--pure--visible"
    data-reveal-delay="100"
  >
    <h3 class="datum-text-8xl mx-auto max-w-xl text-center">{content.data.title}</h3>
    <div
      class="flex flex-wrap justify-center-safe gap-4 py-6 md:gap-6 md:py-14 xl:gap-9 xl:py-21 [&>div]:w-[279px]"
    >
      {
        items.length > 0 &&
          items.map((item) => (
            <div class="bg-glacier-mist-700 border-pine-forge datum-text-lg border-1 px-10 py-6 md:p-10">
              {item}
            </div>
          ))
      }
    </div>

    {
      link && (
        <Button
          text={link.label}
          href={link.url}
          target="_blank"
          class="btn btn--pine-forge"
          icon={{ name: 'arrow-right', size: 'md' }}
        />
      )
    }
  </div>

  <div class="absolute bottom-0 left-0 z-5 size-auto overflow-hidden">
    <Image
      src={Illustration}
      layout="constrained"
      alt="Scene rock illustration"
      class="size-auto w-[334px] -translate-x-1/2 translate-y-1/10 md:translate-x-0 md:translate-y-[40%] lg:translate-x-0 lg:translate-y-0"
    />
  </div>
</section>
