---
// src/pages/blog.astro

import '@v1/styles/page-blog.css';
import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import Footer from '@components/Footer.astro';
import GlobalSection from '@components/GlobalSection.astro';
import BlogStrapiIndex from '@components/blog/BlogStrapi.astro';
import BlogStrapiSkeleton from '@components/blog/BlogStrapiSkeleton.astro';
import defaultOgImage from '@content/images/og/blog.png';
import { getCollectionEntry } from '@utils/collectionUtils';

// Get blog landing page from blog/index.mdx
const page = await getCollectionEntry('pages', 'blog');

const icon = 'book-image';

// SEO
const fm = page.data;
const meta = fm.meta || {};
const title = fm.title;
const description = fm.description ? fm.description : '';
const subtitle = fm.subtitle ? fm.subtitle : 'Blog';

// Set default blog OG image - always use blog.png
const blogMeta = {
  ...meta,
  og: {
    image: defaultOgImage,
    ...meta?.og,
  },
};
---

<Layout title={title || 'Datum'} description={description} bodyClass="page-blog" meta={blogMeta}>
  <section class="datum-container">
    <Hero
      class="light"
      iconName={icon}
      title={title}
      subtitle={subtitle}
      description={description}
    />

    <div class="section--block section--block--pad bg-midnight-fjord dark">
      <div class="max-width">
        <BlogStrapiIndex server:defer>
          <BlogStrapiSkeleton slot="fallback" />
        </BlogStrapiIndex>
      </div>
    </div>

    <GlobalSection />

    <Footer />
  </section>
</Layout>
