---
// src/pages/hello.astro
export const prerender = false;

import '@styles/global.css';
import '@styles/page-hello.css';
import LayoutMinimal from '@layouts/LayoutMinimal.astro';
import Footer from '@components/Footer.astro';
import HelloHero from '@components/hello/HelloHero.astro';
import HelloPeople from '@components/hello/HelloPeople.astro';

const title = 'Good to see ya!';
const description =
  'Say hello to the people behind Datum. Reach out for partnerships, support, PR, fundraising, or just to chat.';
---

<LayoutMinimal title={title} description={description} bodyClass="page-hello">
  <section class="datum-container">
    <HelloHero />

    <HelloPeople />

    <Footer showCTA={false} showBackground={false} showSignup={false} />
  </section>
</LayoutMinimal>
