---
import '@v1/styles/page-home.css';
import { getEntries } from 'astro:content';
import Layout from '@layouts/Layout.astro';
import Hero from '@components/home/Hero.astro';
import FirstSection from '@components/home/FirstSection.astro';
import LatestBlogSection from '@components/blog/Latest.astro';
import SecondSection from '@components/home/SecondSection.astro';
import GlobalSection from '@components/GlobalSection.astro';
import Footer from '@components/Footer.astro';

import { getCollectionEntry } from '@utils/collectionUtils';

const page = await getCollectionEntry('pages', '/');
const fm = page.data;
const contents = fm.contents;
const contentData = await getEntries(contents);

// SEO
const meta = fm.meta || {};
const title = fm.title ? 'Datum - ' + fm.title : 'Datum';
const description = fm.description ? fm.description : '';
---

<Layout title={title} description={description} bodyClass="page-home" meta={meta}>
  <section class="datum-container">
    <Hero class="dark" title={fm.title} description={fm.description} />

    <FirstSection content={contentData[0]} />
    <SecondSection content={contentData[1]} />
    <GlobalSection />
    <section id="latest-blog" class="bg-glacier-mist-800 section--block section--block--pad">
      <div class="max-width">
        <LatestBlogSection />
      </div>
    </section>
    <Footer />
  </section>
</Layout>
