---
import '@v1/styles/page-home.css';
import Layout from '@layouts/Layout.astro';
import Hero from '@components/home/Hero.astro';
import Mission from '@components/home/Mission.astro';
import Footer from '@components/Footer.astro';

import { getCollectionEntry } from '@utils/collectionUtils';

const page = await getCollectionEntry('pages', '/');
const fm = page.data;

// SEO
const meta = fm.meta || {};
const title = fm.title ? 'Datum - ' + fm.title : 'Datum';
const description = fm.description ? fm.description : '';
---

<Layout title={title} description={description} bodyClass="page-home" meta={meta}>
  <section class="datum-container">
    <Hero class="dark" title={fm.title} description={fm.description} />
    <section class="bg-glacier-mist-700">
      <Mission class="max-width" />
    </section>
    <Footer />
  </section>
</Layout>
