---
import '@styles/page-home.css';
import Layout from '@layouts/Layout.astro';
import Announcement from '@components/Announcement.astro';
import Nav from '@components/Nav.astro';
import HomeHero from '@components/home/HomeHero.astro';
import WhatIsDatum from '@components/home/WhatIsDatum.astro';
import DatumPlatform from '@components/home/DatumPlatform.astro';
import DedicatedCloud from '@components/home/DedicatedCloud.astro';
import ModuleConnector from '@components/home/ModuleConnector.astro';
import Footer from '@components/Footer.astro';

import { getCollectionEntry } from '@utils/collectionUtils';

const page = await getCollectionEntry('pages', '/');
const fm = page.data;

// SEO
const meta = fm.meta || {};
const title = fm.title
  ? 'Datum - ' +
    fm.title
      .replace(/<[^>]+>/g, '')
      .replace(/\s+/g, ' ')
      .trim()
  : 'Datum';
const description = fm.description ? fm.description : '';
---

<Layout title={title} description={description} bodyClass="page-home" meta={meta}>
  <section class="datum-container">
    <header class="home-hero-header">
      <Announcement />
      <Nav />
    </header>
    <div class="relative">
      <HomeHero title={fm.title} description={fm.description} />

      <WhatIsDatum />

      <DatumPlatform />

      <DedicatedCloud />

      <ModuleConnector />
    </div>

    <Footer />
  </section>
</Layout>
