---
// src/pages/resources/roadmap.astro
import '@v1/styles/page-roadmap.css';
import { getCollectionEntry } from '@utils/collectionUtils';

import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import Footer from '@components/Footer.astro';
import RoadmapStrapi from '@components/roadmap/RoadmapStrapi.astro';
import RoadmapStrapiSkeleton from '@components/roadmap/RoadmapStrapiSkeleton.astro';

const page = await getCollectionEntry('pages', 'roadmap');

const fm = page.data;
const meta = fm.meta || {};
const title = fm.title ? fm.title : 'Datum Open Source Projects';
const description = fm.description;
---

<Layout title={title} description={description} bodyClass="page-roadmap" meta={meta}>
  <section class="datum-container">
    <Hero class="light" title={title} description={description} />

    <div class="section--block bg-glacier-mist-700 pt-0 pb-20">
      <div class="roadmap-container">
        <RoadmapStrapi server:defer>
          <RoadmapStrapiSkeleton slot="fallback" />
        </RoadmapStrapi>
      </div>
    </div>

    <Footer />
  </section>
</Layout>
