---
import '@v1/styles/page-brand.css';
import Layout from '@layouts/LayoutSimple.astro';
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import NavBrand from '@components/NavBrand.astro';
import { render } from 'astro:content';
import { getCollectionEntry } from '@utils/collectionUtils';

const page = await getCollectionEntry('pages', 'brand');

const { Content } = await render(page);
const fm = page.data;
const meta = fm.meta || {};

// Current path for active navigation state
const currentPath = Astro.url.pathname;
---

<Layout title={fm.title} description={fm.description} bodyClass="page-brand" meta={meta}>
  <section class="datum-container">
    <Header class="dark" />
    <div class="section--block bg-glacier-mist-700">
      <div class="max-width m-auto grid grid-cols-1 md:grid-cols-12 md:gap-10 lg:gap-12">
        <sidebar class="brand-sidebar">
          <NavBrand currentPath={currentPath} />
        </sidebar>
        <div class="brand-wrapper">
          <article class="brand-article">
            <header>
              <h1 class="brand-article--title">{fm.title}</h1>
            </header>
            <div class="brand-article--content">
              <Content />
            </div>
          </article>
        </div>
      </div>
    </div>
    <Footer showCTA={false} />
  </section>
</Layout>
