---
import '@v1/styles/page-brand.css';
import Layout from '@layouts/LayoutSimple.astro';
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import NavBrand from '@components/NavBrand.astro';
import { render } from 'astro:content';
import { getCollectionEntry } from '@utils/collectionUtils';

const page = await getCollectionEntry('pages', 'brand');

const { Content } = await render(page);
const fm = page.data;
const meta = fm.meta || {};

// Current path for active navigation state
const currentPath = Astro.url.pathname;
---

<Layout title={fm.title} description={fm.description} bodyClass={`page--${page.id}`} meta={meta}>
  <section class="datum-container">
    <Header class="dark hero--nav-pad" />
    <div class="section--block bg-cream">
      <div class="m-auto grid max-w-391 grid-cols-1 gap-12 md:grid-cols-12">
        <sidebar class="brand-sidebar">
          <NavBrand currentPath={currentPath} />
        </sidebar>
        <div class="md:border-light-gray col-span-1 md:col-span-9 md:border-l lg:col-span-10">
          <article class="brand-article">
            <header>
              <h1 class="brand-article--title">{fm.title}</h1>
            </header>
            <div class="brand-article--content">
              <Content />
            </div>
          </article>
        </div>
      </div>
    </div>
    <Footer showCTA={false} />
  </section>
</Layout>
