---
import '@v1/styles/global.css';
import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import Footer from '@components/Footer.astro';
import Card from '@components/Card.astro';
import { getCollectionEntry } from '@utils/collectionUtils';

// Import images
import datumLogo from '@/src/content/pages/resources/images/datum.png';
import hickoryDnsLogo from '@/src/content/pages/resources/images/hickorydns.png';
import miloLogo from '@/src/content/pages/resources/images/ren.png';
import crossplaneLogo from '@/src/content/pages/resources/images/crossplane.png';
import envoyLogo from '@/src/content/pages/resources/images/envoy.png';
import srv6Logo from '@/src/content/pages/resources/images/srv6.png';
import irohLogo from '@/src/content/pages/resources/images/iroh.png';

const page = await getCollectionEntry('pages', 'open-source');

// SEO
const fm = page.data;
const meta = fm.meta || {};
const title = fm.title ? fm.title : 'Datum Open Source Projects';
const description = fm.description;
---

<Layout title={title} description={description} bodyClass="oos-project-page" meta={meta}>
  <section class="datum-container">
    <Hero
      class="light"
      iconName={page.data.iconName}
      title={page.data.title}
      subtitle={page.data.subtitle}
      description={page.data.description}
    />

    <div class="section--block bg-glacier-mist-700">
      <div
        class="fade-in--pure max-width grid grid-cols-1 gap-8 md:grid-cols-3"
        data-reveal="fade-in--pure--visible"
        data-reveal-immediate="true"
        data-reveal-delay="100"
      >
        <Card
          title="Datum"
          imageSrc={datumLogo}
          imageAlt="Datum"
          description="A system for managing and connecting network and data focused workloads, anywhere."
          url="https://github.com/datum-cloud/datum"
        />

        <Card
          title="Milo"
          description='A "business operating system" for product-led, B2B companies.'
          imageSrc={miloLogo}
          imageAlt="Milo"
          url="https://github.com/datum-cloud/milo"
        />

        <Card
          title="HickoryDNS"
          description="A Rust based DNS client, server, and resolver, built to be safe and secure from the ground up."
          imageSrc={hickoryDnsLogo}
          imageAlt="HickoryDNS"
          url="https://github.com/hickory-dns/hickory-dns"
        />

        <Card
          title="Crossplane"
          description="A framework for building control planes that Datum uses to normalize cloud provider integrations."
          imageSrc={crossplaneLogo}
          imageAlt="Crossplane"
          url="https://github.com/crossplane/crossplane"
        />

        <Card
          title="Envoy"
          description=" Envoy is an open source edge and service proxy, designed for cloud-native applications."
          imageSrc={envoyLogo}
          imageAlt="Envoy"
          url="https://github.com/envoyproxy/envoy"
        />

        <Card
          title="Envoy AI Gateway"
          description="Envoy AI Gateway is an open source project for using Envoy Gateway to handle request traffic from application clients to Generative AI services."
          imageSrc={envoyLogo}
          imageAlt="Envoy AI Gateway"
          url="https://github.com/envoyproxy/ai-gateway"
        />

        <Card
          title="SRv6"
          description="SRv6 uses a IPv6 extension header called the Segment Routing Header (SRH) to tell a packet exactly which hops to travel. It's rad."
          imageSrc={srv6Logo}
          imageAlt="SRv6"
          icon="link"
          url="https://www.segment-routing.net/"
        />

        <Card
          title="Iroh"
          description="A library for building on direct connections between devices, putting more control in the hands of your users."
          imageSrc={irohLogo}
          imageAlt="Iroh"
          url="https://github.com/n0-computer/iroh"
        />
      </div>
    </div>
    <Footer />
  </section>
</Layout>
