---
import { Image } from 'astro:assets';
import { getCollectionEntry } from '@utils/collectionUtils';

import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import Footer from '@components/Footer.astro';
import Card from '@components/roadmap/Card.astro';
import GlobalSection from '@components/GlobalSection.astro';
import ImageSphere from '@v1/assets/images/sphere-half.png';
import Skeleton from '@components/Skeleton.astro';

const page = await getCollectionEntry('pages', 'roadmap');

// SEO
const fm = page.data;
const meta = fm.meta || {};
const title = fm.title ? fm.title : 'Datum Open Source Projects';
const description = fm.description;
---

<Layout title={title} description={description} bodyClass="roadmap-page" meta={meta}>
  <section class="datum-container">
    <Hero
      class="light"
      iconName={fm.iconName}
      title={title}
      description={page.body}
      subtitle={fm.subtitle}
    />

    <div class="section--block section--block--pad bg-navy dark">
      <div class="absolute top-0 right-0 z-40 inline-block">
        <Image
          src={ImageSphere}
          alt="Two Person"
          class="relative h-auto w-[198px]"
          data-scroll-effect="parallax"
          data-scroll-speed="0.1"
          data-scroll-direction="up-right"
          data-viewport-offset="-200"
          data-max-movement="50"
        />
      </div>
      <div class="roadmap-container">
        <Card server:defer>
          <Skeleton slot="fallback" />
        </Card>
      </div>
    </div>

    <GlobalSection />

    <Footer />
  </section>
</Layout>
