---
import { Image } from 'astro:assets';
import sceneTree from '@v1/assets/images/scene-tree.png';
import type { ContentProps } from '@/src/types/common';

const { content } = Astro.props as ContentProps;
---

<section class="bg-cream section--block section--block--pad">
  <div class="absolute bottom-0 left-0 z-0">
    <Image src={sceneTree} alt="Scene tree illustration" class="size-auto w-full max-w-3xl" />
  </div>
  <div class="border-navy bg-cream relative z-10 m-auto border md:max-w-391">
    <!-- Scene Tree Image -->
    <div
      class="relative z-10 mx-auto grid grid-cols-1 justify-between gap-9 px-6.5 py-14 text-center md:grid-cols-2 md:gap-16 md:px-18 md:pt-24 md:pb-35 md:text-left lg:gap-22 lg:px-24 lg:pt-30 lg:pb-49"
    >
      <!-- Left: Heading -->
      <div class="self-center">
        <h2 class="h2-leading mb-0">{content.data.title}</h2>
      </div>
      <!-- Right: Body Text -->
      <div class="self-center">
        <span class="text-desc">
          <p>{content.body}</p>
        </span>
      </div>
    </div>
    <!-- Logos Row -->
    {
      content.data.images ? (
        <div class="grid grid-cols-3 overflow-x-auto lg:grid-cols-6 [&>div:nth-child(2n)]:border-r-1 lg:[&>div:nth-child(3)]:border-r-1! [&>div:nth-child(3n)]:border-r-0">
          {content.data.images.map((logo) => (
            <div class="border-navy flex aspect-29/21 items-center justify-center border-t border-r last:border-r-0">
              <Image
                src={logo.img}
                alt={`${logo.alt} logo`}
                class="mx-10 max-h-15 w-4/5 max-w-18 object-contain md:max-w-28 lg:max-w-40"
              />
            </div>
          ))}
        </div>
      ) : (
        ''
      )
    }
  </div>
</section>
