---
import { Image } from 'astro:assets';

import ImageLeft from '@v1/assets/images/good-look-section/left-stone.png';
import type { ContentProps } from '@/src/types/common';

const { content } = Astro.props as ContentProps;
---

<section
  id="under-the-hood"
  class="bg-glacier-mist-800 section--block section--block--pad relative overflow-hidden"
>
  <div class="max-width">
    <!-- Main content container -->
    <div
      class="fade-in--pure relative z-10 m-auto flex w-full flex-col justify-between gap-10 md:flex-row md:gap-30"
      data-reveal="fade-in--pure--visible"
      data-reveal-delay="100"
    >
      <!-- Left content: What does good look like? -->
      <div class="max-w-full space-y-10 text-center md:max-w-60 md:text-left lg:max-w-99">
        <h2 class="datum-text-8xl">{content.data.title}</h2>
        <span class="datum-text-lg">
          <p>{content.body}</p>
        </span>
      </div>

      <!-- Right content: Numbered list -->
      <div class="max-w-162.25 flex-1">
        {
          content.data.items ? (
            <ol class="ordered-list">
              {content.data.items.map((item) => {
                const parts = item.split(':');
                const title = parts[0]?.trim() || '';
                const description = parts.slice(1).join(':').trim();
                return (
                  <li class="w-full flex-1">
                    <div class="flex w-full flex-1 flex-col justify-between gap-3.5 md:flex-row">
                      <div class="item-title">{title}</div>
                      {description && (
                        <div class="item-description flex items-center gap-2">
                          {description.split(',').map((label) => (
                            <span class="label">{label.trim()}</span>
                          ))}
                        </div>
                      )}
                    </div>
                  </li>
                );
              })}
            </ol>
          ) : (
            ''
          )
        }
      </div>
    </div>
  </div>

  <div class="absolute bottom-0 left-0 z-0 max-w-126">
    <Image
      src={ImageLeft}
      layout="constrained"
      alt="Scene left illustration"
      class="size-auto w-full"
    />
  </div>
</section>
