---
import { Image } from 'astro:assets';
import Icon from '@components/Icon.astro';
import type { CardProps } from '@/src/types/common';

const { title, description, imageSrc, imageAlt, url, icon = 'github' } = Astro.props as CardProps;
---

<div
  class="border-midnight-fjord bg-glacier-mist-700 relative flex flex-col justify-between gap-3 border p-6 md:gap-6 lg:gap-8 lg:p-9 xl:p-11"
>
  <div class="flex items-start">
    {imageSrc && <Image src={imageSrc} alt={imageAlt || ''} class="size-auto max-h-16" />}
  </div>

  <div class="flex items-end-safe justify-between gap-10">
    <div class="datum-text-sm">
      <div class="mb-2 flex items-center gap-3">
        <h3 class="datum-text-xl font-medium">{title}</h3>

        {
          url && (
            <a
              class="text-canyon-clay---links hover:text-canyon-clay---links/80 transition-all duration-200"
              href={url}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Icon name={icon} size="md" />
            </a>
          )
        }
      </div>

      <p>{description}</p>
    </div>
  </div>
</div>
