---
import { Image } from 'astro:assets';
import navigation from '@data/navigation.json';
import type { NavData, NavItem } from '@/src/types/navigation';
import type { FooterProps } from '@/src/types/common';
import ImageFooter from '@v1/assets/images/footer-illustration.png';
import Button from '@components/Button.astro';
import ImageTwoMen from '@v1/assets/images/two-person-talking.png';
import Signup from '@components/forms/Signup.astro';

// Get props with default values
const {
  showCTA = true,
  showBackground = true,
  showIllustration = false,
} = Astro.props as FooterProps;

// Type-safe navigation data
const navData = navigation as NavData;
---

<footer
  id="footer"
  class:list={[
    'footer bg-glacier-mist-700 relative text-white',
    !showBackground && 'bg-midnight-fjord',
  ]}
>
  {/* Hero Content - Conditionally rendered */}
  {
    showCTA && (
      <div class="text-midnight-fjord relative z-10 mx-auto pt-14 md:pt-20 lg:pt-28">
        <div
          class="fade-in--pure flex flex-col gap-5.5 text-center md:gap-10"
          data-reveal="fade-in--pure--visible"
        >
          <h3 class="datum-text-7xl">Interested in shaping the internet for AI?</h3>
          <div class="flex items-center justify-center gap-7">
            <Button
              class="btn btn--alpha"
              text="View on GitHub"
              icon={{ name: 'arrow-right', size: 'md' }}
              iconPosition="right"
              iconClass="stroke-1.5"
              target="_blank"
              href="https://github.com/datum-cloud/datum/"
            />
          </div>
        </div>
      </div>
    )
  }

  {/* Background Landscape - Conditionally rendered */}
  {
    showBackground && (
      <div class:list={['footer-illustration-container', !showCTA && 'pt-30']}>
        <div class="relative w-full">
          <Image
            src={ImageFooter}
            layout="constrained"
            alt="Footer illustration"
            class="relative mr-auto size-auto w-full -translate-y-3 object-cover"
          />
        </div>
      </div>
    )
  }

  {
    showIllustration && (
      <div class="3xl:right-55 2-5xl:right-50 absolute -top-[94px] right-15 z-10 hidden lg:right-25 lg:inline-block">
        <Image
          src={ImageTwoMen}
          alt="Two Person Talking"
          class="relative h-auto w-[79px]"
          data-scroll-effect="parallax"
          data-scroll-speed="0.1"
          data-scroll-direction="down"
          data-viewport-offset="-500"
          data-max-movement="20"
        />
      </div>
    )
  }

  <!-- Main Footer Content -->
  <div class="bg-midnight-fjord relative z-20">
    <div class="footer-main">
      <div
        class="footer-grid fade-in--pure"
        data-reveal="fade-in--pure--visible"
        data-reveal-delay="100"
      >
        <!-- Navigation Sections -->

        <div class="footer-nav-container">
          {
            navData.footer.map((section) => (
              <div class="footer-nav-section">
                <h4 class="footer-nav-header">{section.title}</h4>
                <ul class="footer-nav-list">
                  {section.items.map((item: NavItem) => (
                    <li>
                      <a
                        href={item.href}
                        class="footer-nav-link"
                        target={item.isExternal ? '_blank' : undefined}
                        rel={item.isExternal ? 'noopener noreferrer' : undefined}
                        data-astro-prefetch="hover"
                      >
                        {item.text}
                      </a>
                    </li>
                  ))}
                </ul>
              </div>
            ))
          }
        </div>
        <!-- GitHub Button Section -->
        <div class="footer-actions-section">
          <div class="space-x-2">
            <Button
              class="btn btn--clean text-blush-quartz hover:text-glacier-mist-900"
              icon={{ name: 'messages-square', size: 'md' }}
              iconPosition="left"
              iconClass="stroke-1.5"
              target="_blank"
              href="https://link.datum.net/discord"
            />

            <Button
              class="btn btn--clean text-blush-quartz hover:text-glacier-mist-900"
              icon={{ name: 'github', size: 'md' }}
              iconPosition="left"
              iconClass="stroke-1.5"
              target="_blank"
              href="https://github.com/datum-cloud/datum/"
            />
          </div>

          <p class="footer-copyright">
            &copy; {new Date().getFullYear()}
            <span class="whitespace-nowrap">Datum Technology, Inc.</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <Signup server:defer />
</footer>
