---
import '@v1/styles/page-handbook.css';
import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import Footer from '@components/Footer.astro';
import Article from '@components/handbook/Article.astro';

import { getCollection, render } from 'astro:content';
import { getCollectionEntry } from '@utils/collectionUtils';

// const currentPostIndex = handbooks.findIndex((post) => post.id == Astro.params.slug);
export async function getStaticPaths() {
  const handbooks = await getCollection('handbooks', ({ id }) => id !== 'index');

  handbooks.sort(function (a, b) {
    let aSlugSplit = a.id.split('/');
    let bSlugSplit = b.id.split('/');

    // sort by order with category
    return ('' + aSlugSplit[0] + a.data.sidebar.order).localeCompare(
      '' + bSlugSplit[0] + b.data.sidebar.order
    );
  });

  return handbooks.map((entry) => {
    return {
      params: {
        slug: entry.id,
      },
      props: { entry: render(entry), handbooks },
    };
  });
}

const page = await getCollectionEntry('handbooks', 'index');
const fm = page.data;

const { slug } = Astro.params;
const entry = await Astro.props.entry;
const { title, description, meta } = entry.remarkPluginFrontmatter;

const pageTitle = title ? 'Datum Handbook - ' + title : 'The Datum Handbook';
const pageDescription = description ? description : 'The Datum Handbook';
---

<Layout title={pageTitle} description={pageDescription} bodyClass="handbook-page" meta={meta}>
  <section class="datum-container">
    <Hero
      class="light bg-glacier-mist-700"
      iconName="book-text"
      title={fm.title}
      subtitle={fm.subtitle}
    />
    <Article articleId={slug} />

    <Footer />
  </section>
</Layout>
