---
import type { PaginationProps } from '@/src/types/common';
import Icon from '@components/Icon.astro';

const { currentPage, totalPages, baseUrl, prevUrl, nextUrl } = Astro.props as PaginationProps;
---

<div class="blog-pagination">
  {
    prevUrl && (
      <a href={prevUrl} aria-label="Previous page">
        <Icon name="chevron-left" size="md" />
      </a>
    )
  }

  {
    Array.from({ length: totalPages }, (_, i) => i + 1).map((pageNum) => (
      <a
        href={pageNum === 1 ? baseUrl : `${baseUrl}/${pageNum}`}
        class={`${pageNum === currentPage ? 'blog-pagination--active' : ''}`}
        aria-label={`Page ${pageNum}`}
        aria-current={pageNum === currentPage ? 'page' : undefined}
      >
        {pageNum}
      </a>
    ))
  }

  {
    nextUrl && (
      <a href={nextUrl} aria-label="Next page">
        <Icon name="chevron-right" size="md" />
      </a>
    )
  }
</div>
