---
import { Image } from 'astro:assets';
import { formatISODate, estimateReadingTime } from '@utils/dateUtils';

const { post } = Astro.props;

// Calculate reading time
const readingTime = estimateReadingTime(post.body || '');
---

<div class="blog-featured">
  <!-- Image on the left -->
  <div class="blog-featured--image">
    {
      post.data.featuredImage && (
        <a href={`/blog/${post.id}/`} title={post.data.title}>
          <Image
            src={post.data.featuredImage}
            layout="constrained"
            alt={post.data.title}
            width={717}
            height={454}
          />
        </a>
      )
    }
  </div>

  <div class="blog-featured--text">
    <h1 class="blog-featured--title">
      <a href={`/blog/${post.id}/`}>{post.data.title}</a>
    </h1>

    <p class="blog-featured--excerpt">
      {post.data.description || ''}
    </p>

    <div class="blog--date">
      <time datetime={formatISODate(post.data.date)}>
        {
          new Date(post.data.date).toLocaleDateString('en-US', {
            day: 'numeric',
            month: 'long',
            year: 'numeric',
          })
        } | {readingTime.text}
      </time>
    </div>
  </div>
</div>
