---
import { SEO } from 'astro-seo';
import '@v1/styles/global.css';
import config from '@data/siteConfig.json';
import { formatISODate } from '@utils/dateUtils';
import type { LayoutProps } from '@/src/types/common';

const {
  title,
  description,
  image,
  article,
  publishDate,
  author,
  canonical,
  dataTheme = '',
  bodyClass = 'template',
  meta,
} = Astro.props as LayoutProps;

const pageUrl = Astro.url.href;
const defaultImage = new URL('/images/og-default.png', Astro.site).href;
const imageUrl = image ? new URL(image, Astro.site).href : defaultImage;

// Overwrite with meta
const titleValue = (meta && meta.title ? meta.title : title).replace(/<[^>]*>/g, '');
const descriptionValue =
  meta && meta.description ? meta.description : description ? description : '';
---

<!doctype html>
<html lang="en" data-theme={dataTheme}>
  <head>
    <SEO
      title={titleValue}
      description={descriptionValue}
      canonical={canonical || pageUrl}
      noindex={true}
      nofollow={true}
      openGraph={{
        basic: {
          title: meta && meta.og && meta.og.title ? meta.og.title : title,
          type: article ? 'article' : 'website',
          image: meta && meta.og && meta.og.image ? meta.og.image : imageUrl,
          url: meta && meta.og && meta.og.url ? meta.og.url : canonical || pageUrl,
        },
        optional: {
          description: meta && meta.og && meta.og.description ? meta.og.description : description,
          siteName: 'Datum Inc. Site',
          locale: 'en_US',
        },
        ...(article && publishDate
          ? {
              article: {
                publishedTime: formatISODate(publishDate),
                authors: [author || 'Datum Inc.'],
              },
            }
          : {}),
      }}
      twitter={{
        card: 'summary_large_image',
        site: config.socials.twitter.handle || '@datumcloud',
        creator: config.socials.twitter.handle || '@datumcloud',
        title: titleValue,
        description: descriptionValue,
        image: imageUrl,
      }}
      extend={{
        meta: [
          { name: 'twitter:url', content: canonical || pageUrl },
          { name: 'theme-color', content: '#3b82f6' },
        ],
        link: [
          { rel: 'icon', href: '/favicon.png' },
          { rel: 'mask-icon', href: '/favicon.png' },
          { rel: 'apple-touch-icon', href: '/apple-touch-icon.png' },
        ],
      }}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon.png" sizes="96x96" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="apple-mobile-web-app-title" content="Datum" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@700;800&display=swap"
      rel="stylesheet"
    />

    <script src="/scripts/markerio.js" defer is:inline></script>
    <script type="text/javascript" defer is:inline>
      /* eslint @typescript-eslint/no-unused-expressions: "off" */
      !(function (e, t, n) {
        function a() {
          var e = t.getElementsByTagName('script')[0],
            n = t.createElement('script');
          ((n.type = 'text/javascript'),
            (n.async = !0),
            (n.src = 'https://beacon-v2.helpscout.net'),
            e.parentNode.insertBefore(n, e));
        }
        if (
          ((e.Beacon = n =
            function (t, n, a) {
              e.Beacon.readyQueue.push({ method: t, options: n, data: a });
            }),
          (n.readyQueue = []),
          'complete' === t.readyState)
        )
          return a();
        e.attachEvent ? e.attachEvent('onload', a) : e.addEventListener('load', a, !1);
      })(window, document, window.Beacon || function () {});
    </script>
    {
      import.meta.env.MODE === 'production' && (
        <script type="text/javascript" defer is:inline>
          window.Beacon('init', '57a7245e-772c-4d51-bdb1-6b898f34f2cb');
        </script>
      )
    }
  </head>
  <body class={bodyClass}>
    <slot />

    <script>
      import '/src/v1/scripts/lenis-parallax.js';
    </script>
  </body>
</html>
