---
// src/pages/events/index.astro
// Events page displaying all events from content collections

import '@v1/styles/page-events.css';
import { getCollectionEntry } from '@utils/collectionUtils';

import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import Footer from '@components/Footer.astro';
import Card from '@components/events/Card.astro';

const page = await getCollectionEntry('pages', 'events');

// SEO
const fm = page.data;
const meta = fm.meta || {};
const title = fm.title ? fm.title : 'Datum Events';
const description = fm.description;
---

<Layout title={title} description={description} bodyClass="page-events" meta={meta}>
  <section class="datum-container">
    <Hero class="light pb-0" title={title} />

    <div class="section--block section--block--pad bg-glacier-mist-700 pt-0">
      <div class="max-width">
        <Card />
      </div>
    </div>

    <Footer showIllustration={false} showBackground={false} showCTA={false} />
  </section>
</Layout>
